In [1]:
import pandas as pd
df = pd.read_excel(open('Hospital_data_20170426 June 26 2017 as of July 8  2018.xlsx','rb'), sheet_name='STEVENS20170424')

In [2]:
df[:3]

,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID
0,07:30:00,09:01:00,09:01:00,10:15:00,09:49:00,11:19:00,11:26:00,190,439,933.0,768,668.0,953.0
1,07:30:00,08:15:00,08:17:00,08:36:00,08:51:00,09:40:00,09:45:00,684,908,993.0,125,639.0,NaN
2,07:30:00,08:05:00,08:05:00,08:22:00,08:37:00,10:03:00,10:05:00,190,362,855.0,520,353.0,953.0

In [3]:
df.shape

(15495, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15495 entries, 0 to 15494
Data columns (total 13 columns):
Room Setup Start Time    15495 non-null object
Patient in Room Time     15495 non-null object
Anesthesia Start Time    15495 non-null object
Induction End            15495 non-null object
Procedure Start          15495 non-null object
Procedure End            15495 non-null object
Patient out of Room      15495 non-null object
Surgeon ID               15495 non-null int64
Anesthesiologist ID      15495 non-null int64
Scrub ID                 15442 non-null float64
Circulator ID            15495 non-null int64
First Assistant ID       15402 non-null float64
Second Assistant ID      14816 non-null float64
dtypes: float64(3), int64(3), object(7)
memory usage: 1.5+ MB

In [5]:
#更便于直接识别na
df.isna().sum()

Room Setup Start Time      0
Patient in Room Time       0
Anesthesia Start Time      0
Induction End              0
Procedure Start            0
Procedure End              0
Patient out of Room        0
Surgeon ID                 0
Anesthesiologist ID        0
Scrub ID                  53
Circulator ID              0
First Assistant ID        93
Second Assistant ID      679
dtype: int64

一般来说处理空值有以下几种方法：
1.少量空值可以根据前后信息进行填补，但一般来说能被较好补上的信息说明没有被补上的必要，不能被较好的补上的信息补出来的结果可能有人不是很好，一般来说介于两者之间；
2.用平均值、中值、分位数、众数、随机值等替代。效果一般，因为等于人为增加了噪声；
3.最精确的做法：把变量映射到高维空间，把男，女，缺失映射为，是否男，是否女，是否缺失。样本量大的时候效果会比较好，否则会出现稀疏；
4.缺失量实在过大则直接删除。

In [13]:
#将有缺失设置为yes，没有设置为no
import numpy as np
df['whether SA'] = df['Second Assistant ID'].apply(lambda x: 'Yes' if not pd.isnull(x) else 'No')

In [14]:
df[:3]

,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID,whether SA
0,07:30:00,09:01:00,09:01:00,10:15:00,09:49:00,11:19:00,11:26:00,190,439,933.0,768,668.0,953.0,Yes
1,07:30:00,08:15:00,08:17:00,08:36:00,08:51:00,09:40:00,09:45:00,684,908,993.0,125,639.0,NaN,No
2,07:30:00,08:05:00,08:05:00,08:22:00,08:37:00,10:03:00,10:05:00,190,362,855.0,520,353.0,953.0,Yes

In [15]:
df_1 = df.fillna(0)

In [17]:
df_1[:3]

,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID,whether SA
0,07:30:00,09:01:00,09:01:00,10:15:00,09:49:00,11:19:00,11:26:00,190,439,933.0,768,668.0,953.0,Yes
1,07:30:00,08:15:00,08:17:00,08:36:00,08:51:00,09:40:00,09:45:00,684,908,993.0,125,639.0,0.0,No
2,07:30:00,08:05:00,08:05:00,08:22:00,08:37:00,10:03:00,10:05:00,190,362,855.0,520,353.0,953.0,Yes

In [21]:
#Mean 
#df_2 = df.fillna(df.mean())
#'First Assistant ID'来填充'Second Assistant ID'的缺失值
df_2 = df.fillna(df.mean()['First Assistant ID':'Second Assistant ID'])

In [22]:
df_2[:3]

,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID,whether SA
0,07:30:00,09:01:00,09:01:00,10:15:00,09:49:00,11:19:00,11:26:00,190,439,933.0,768,668.0,953.000000,Yes
1,07:30:00,08:15:00,08:17:00,08:36:00,08:51:00,09:40:00,09:45:00,684,908,993.0,125,639.0,485.934058,No
2,07:30:00,08:05:00,08:05:00,08:22:00,08:37:00,10:03:00,10:05:00,190,362,855.0,520,353.0,953.000000,Yes

In [24]:
#用前一个数据代替na
df_3 =df.fillna(method = 'pad')
df_3[:8]

,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID,whether SA
0,07:30:00,09:01:00,09:01:00,10:15:00,09:49:00,11:19:00,11:26:00,190,439,933.0,768,668.0,953.0,Yes
1,07:30:00,08:15:00,08:17:00,08:36:00,08:51:00,09:40:00,09:45:00,684,908,993.0,125,639.0,953.0,No
2,07:30:00,08:05:00,08:05:00,08:22:00,08:37:00,10:03:00,10:05:00,190,362,855.0,520,353.0,953.0,Yes
3,08:18:00,08:41:00,08:41:00,09:11:00,09:25:00,10:42:00,10:45:00,93,394,398.0,437,480.0,297.0,Yes
4,08:30:00,09:01:00,09:01:00,09:17:00,09:35:00,10:35:00,10:39:00,975,918,131.0,799,428.0,889.0,Yes
5,07:30:00,08:16:00,08:16:00,08:30:00,08:54:00,10:09:00,10:14:00,293,985,916.0,241,728.0,717.0,Yes
6,09:00:00,08:33:00,08:33:00,09:00:00,09:52:00,11:25:00,11:32:00,876,92,616.0,512,478.0,873.0,Yes
7,08:00:00,08:02:00,08:02:00,08:21:00,08:37:00,09:45:00,09:44:00,93,238,772.0,859,33.0,297.0,Yes

In [27]:
#用后一个数据代替na
df_4 = df.fillna(method='bfill')

In [30]:
# 插值法就是通过两点（x0，y0），（x1，y1）估计中间点的值 
df_5 = df.interpolate()

In [36]:
df.columns.values

array(['Room Setup Start Time', 'Patient in Room Time',
       'Anesthesia Start Time', 'Induction End', 'Procedure Start',
       'Procedure End', 'Patient out of Room', 'Surgeon ID',
       'Anesthesiologist ID', 'Scrub ID', 'Circulator ID',
       'First Assistant ID', 'Second Assistant ID', 'whether SA'],
      dtype=object)

In [42]:
df['Second_Assistant_ID'] = df['Second Assistant ID'].apply(lambda x:x )

In [50]:
df['Second_Assistant_ID'] = df['Second_Assistant_ID'].apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [61]:
from sklearn.ensemble import RandomForestRegressor
#用random forest来拟合填充
def set_missing_SA(df):
    #df = df.reset_index()
    #把数值型的特征取出放到regressor里面
    process_df = df[['Second_Assistant_ID','Surgeon ID','Anesthesiologist ID', 'Circulator ID']]
    #把预测值分成已知和未知两部分
    know = process_df[process_df.Second_Assistant_ID.notnull()].as_matrix()
    unknow = process_df[process_df.Second_Assistant_ID.isnull()].as_matrix()
    # X为特征属性值
    X = know[:, 1:]
    # y为结果标签值
    y = know[:, 0]
    rfr = RandomForestRegressor(random_state = 0,n_estimators = 2000,n_jobs=-1)
    rfr.fit(X,y)
    #用模型来预测未知量
    predicted = rfr.predict(unknow[:,1::])
    #用得到的预测结果填补原缺失数据
    df.loc[(df.Second_Assistant_ID.isnull(),'Second_Assistant_ID')] = predicted
    return df, rfr
df,rfr = set_missing_SA(df)

输入值必须为不含na的值

In [64]:
df.head()

,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID,whether SA,Second_Assistant_ID
0,07:30:00,09:01:00,09:01:00,10:15:00,09:49:00,11:19:00,11:26:00,190,439,933.0,768,668.0,953.0,Yes,953.000000
1,07:30:00,08:15:00,08:17:00,08:36:00,08:51:00,09:40:00,09:45:00,684,908,993.0,125,639.0,NaN,No,360.467768
2,07:30:00,08:05:00,08:05:00,08:22:00,08:37:00,10:03:00,10:05:00,190,362,855.0,520,353.0,953.0,Yes,953.000000
3,08:18:00,08:41:00,08:41:00,09:11:00,09:25:00,10:42:00,10:45:00,93,394,398.0,437,480.0,297.0,Yes,297.000000
4,08:30:00,09:01:00,09:01:00,09:17:00,09:35:00,10:35:00,10:39:00,975,918,131.0,799,428.0,889.0,Yes,889.000000